@charset "UTF-8";

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    margin: 0; /* Remove margens padrão */
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna */
    align-items: center; /* Centraliza os itens */
    width: 100%; /* Largura total do contêiner */
    max-width: 500px; /* Limite de largura */
    margin: 20px; /* Margem para dispositivos menores */
    padding: 10px; /* Padding para o contêiner */
}

section {
    background-color: #fff;
    width: 100%; /* 100% da largura do contêiner */
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000;
    padding: 20px; /* Adiciona padding interno */
}

footer {
    margin-top: 20px; /* Ajuste a margem superior */
    text-align: center;
    color: #333;
}

footer a {
    color: #333;
    text-decoration: none;
}

div {
    padding: 10px;
    box-sizing: border-box;
}